<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LGHISJKZGQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PATHGETHISZGQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LGHISJK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LGHISJKZGQ.Properties.Settings>
            <setting name="PATHGETHISZGQ_webserverAAA_Service" serializeAs="String">
                <value>http://localhost:4319/WebSite1/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_WebTJ_PathologySysService" serializeAs="String">
                <value>http://192.168.12.68:58080/csp/tongji/Tongji.COMM.SoapService.PathologySysService.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_WebReference_PisServiceLJ" serializeAs="String">
                <value>http://10.48.45.107/ktpis/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_szyyWEB_Service" serializeAs="String">
                <value>http://10.0.100.53:8080/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_nbyzrmyyWeb_PisServiceLJ" serializeAs="String">
                <value>http://192.168.100.64:8082/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_whxhyyWEB_WebRisService" serializeAs="String">
                <value>http://192.168.60.39:57772/csp/i-risservice/DHC.RIS.BS.WebRisService.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_ahzlyyWeb_XDInterface" serializeAs="String">
                <value>http://172.16.201.4/dthealth/web//web.ToBLCom.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_nbyz2yWEB_PisServiceLJ" serializeAs="String">
                <value>http://192.168.52.100:8081/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_cszxyyWEB_NYwclService" serializeAs="String">
                <value>http://192.168.3.15:8080/Services/NYwclService</value>
            </setting>
            <setting name="PATHGETHISZGQ_sxzlyyWeb_Service1" serializeAs="String">
                <value>http://111.111.116.8:8071/LJservice.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_WebXYCX_WSGeneral" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/WebApp.WSGeneral.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_hnsrmyyWeb_TrasenWS" serializeAs="String">
                <value>http://192.168.8.100/TrasenWS.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_SXDEYWeb_MatrixService" serializeAs="String">
                <value>http://168.192.8.10:8080/WebService/services/MatrixService</value>
            </setting>
            <setting name="PATHGETHISZGQ_ZSZLWeb_Service" serializeAs="String">
                <value>http://172.16.95.141:8003/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_fjsfywebwerice1_WSInterface" serializeAs="String">
                <value>http://10.1.1.71:1506/services/WSInterface.WSInterfaceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_fjsfyWeb_WSInterface_cdr" serializeAs="String">
                <value>http://10.1.1.71:1508/services/WSInterface_cdr.WSInterface_cdrHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_fjsfybjyWeb_WSInterface" serializeAs="String">
                <value>http://198.100.100.8:1506/services/WSInterface.WSInterfaceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_shsjdzyyyweb_FGPLService" serializeAs="String">
                <value>http://192.168.1.158:1405/services/FGPLService.FGPLServiceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_shsjdqzyyyweb2_FGPublicService"
                serializeAs="String">
                <value>http://192.168.1.158:1401/services/FGPublicService.FGPublicServiceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_xjshz_winning_web_WinningHIIPService"
                serializeAs="String">
                <value>http://dfg:29000/services/WinningHIIPService.WinningHIIPServiceHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_jssfyweb_PathologyService" serializeAs="String">
                <value>http://10.1.1.71/webapp/pathologyservice.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_sh7yweb_webserviceService" serializeAs="String">
                <value>http://155.165.13.14:8085/ExamResultService/services/ExamResultInput</value>
            </setting>
            <setting name="PATHGETHISZGQ_sh7yweb2_healthService" serializeAs="String">
                <value>http://155.165.13.14:8085/sevenHospitalService/services/healthService.healthServiceHttpSoap11Endpoint/</value>
            </setting>
            <setting name="PATHGETHISZGQ_xyfyyyweb1_DHC_Pis_XiangYaOne" serializeAs="String">
                <value>http://192.168.2.51:57772/csp/dhcens/DHC.Pis.XiangYaOne.BS.Web.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_xmzsyyWeb_Service" serializeAs="String">
                <value>http://192.10.33.84/zsyyWebService/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_aydefyweb_WSInterface" serializeAs="String">
                <value>http://223.220.200.45:1506/services/WSInterface.WSInterfaceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_EHSBMQWeb_Service" serializeAs="String">
                <value>http://100.100.42.107/GetEHMQ/EHSBMQService.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_xm1yweb_WSInterface" serializeAs="String">
                <value>http://192.0.19.148:1506/services/WSInterface.WSInterfaceHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_zjgsdyrmyyweb_PlatformCommonSvr"
                serializeAs="String">
                <value>http://192.168.101.175:1006/services/PlatformCommonSvr.PlatformCommonSvrHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_ZSZLWeb_ZGQ_Service" serializeAs="String">
                <value>http://localhost:1266/ZSZL_MQService2010/MQService.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_ZszlHISWEB_ZGQ_Service" serializeAs="String">
                <value>http://172.16.95.230/BLService/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_gdszyyMzHisWeb_HisForInspectItemService"
                serializeAs="String">
                <value>http://192.9.199.12:8002/HisForInspectItemService.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_xy2yWebService_XYEPACS" serializeAs="String">
                <value>http://172.16.200.119:57772/csp/xyepacs/PACS.BS.Service.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_gdszyyWS_ChasCommonSvc" serializeAs="String">
                <value>http://svc.chas.gdhtcm.com:9080/ChasSvc/services/ChasCommonPort</value>
            </setting>
            <setting name="PATHGETHISZGQ_gdszyytjWeb_LisService" serializeAs="String">
                <value>http://192.9.202.71:8181/IBMLisHisWebservice/LisService.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_BLToFZMQWS_Service" serializeAs="String">
                <value>http://172.168.35.249/BLToMQWebSrv/FZMQService.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_GzzszlfzLis_PDAService" serializeAs="String">
                <value>http://172.16.95.189:8081/PDAService.asmx</value>
            </setting>
        </LGHISJKZGQ.Properties.Settings>
        <PATHGETHISZGQ.Properties.Settings>
            <setting name="PATHGETHISZGQ_webserverAAA_Service" serializeAs="String">
                <value>http://localhost:4319/WebSite1/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_WebTJ_PathologySysService" serializeAs="String">
                <value>http://192.168.12.68:58080/csp/tongji/Tongji.COMM.SoapService.PathologySysService.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_WebReference_PisServiceLJ" serializeAs="String">
                <value>http://10.48.45.107/ktpis/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_szyyWEB_Service" serializeAs="String">
                <value>http://10.0.100.53:8080/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_nbyzrmyyWeb_PisServiceLJ" serializeAs="String">
                <value>http://192.168.100.64:8082/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_whxhyyWEB_WebRisService" serializeAs="String">
                <value>http://192.168.60.39:57772/csp/i-risservice/DHC.RIS.BS.WebRisService.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_ahzlyyWeb_XDInterface" serializeAs="String">
                <value>http://172.16.201.4/dthealth/web//web.ToBLCom.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_nbyz2yWEB_PisServiceLJ" serializeAs="String">
                <value>http://192.168.52.100:8081/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_cszxyyWEB_NYwclService" serializeAs="String">
                <value>http://192.168.3.15:8080/Services/NYwclService</value>
            </setting>
            <setting name="PATHGETHISZGQ_sxzlyyWeb_Service1" serializeAs="String">
                <value>http://111.111.116.8:8071/LJservice.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_WebXYCX_WSGeneral" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/WebApp.WSGeneral.cls</value>
            </setting>
            <setting name="PATHGETHISZGQ_hnsrmyyWeb_TrasenWS" serializeAs="String">
                <value>http://192.168.8.100/TrasenWS.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_SXDEYWeb_MatrixService" serializeAs="String">
                <value>http://168.192.8.10:8080/WebService/services/MatrixService</value>
            </setting>
            <setting name="PATHGETHISZGQ_ZSZLWeb_Service" serializeAs="String">
                <value>http://172.16.95.141:8003/Service.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_fjsfywebwerice1_WSInterface" serializeAs="String">
                <value>http://10.1.1.71:1506/services/WSInterface.WSInterfaceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_fjsfyWeb_WSInterface_cdr" serializeAs="String">
                <value>http://10.1.1.71:1508/services/WSInterface_cdr.WSInterface_cdrHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_fjsfybjyWeb_WSInterface" serializeAs="String">
                <value>http://198.100.100.8:1506/services/WSInterface.WSInterfaceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_shsjdzyyyweb_FGPLService" serializeAs="String">
                <value>http://192.168.1.158:1405/services/FGPLService.FGPLServiceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_shsjdqzyyyweb2_FGPublicService"
                serializeAs="String">
                <value>http://192.168.1.158:1401/services/FGPublicService.FGPublicServiceHttpSoap12Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_xjshz_winning_web_WinningHIIPService"
                serializeAs="String">
                <value>http://dfg:29000/services/WinningHIIPService.WinningHIIPServiceHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_XMDYYY_WEB_SendMessage" serializeAs="String">
                <value>http://192.0.19.146:1606/services/SendMessage.SendMessageHttpSoap11Endpoint</value>
            </setting>
            <setting name="PATHGETHISZGQ_jssfyweb_PathologyService" serializeAs="String">
                <value>http://10.1.1.71/webapp/pathologyservice.asmx</value>
            </setting>
            <setting name="PATHGETHISZGQ_sh7yweb_webserviceService" serializeAs="String">
                <value>http://155.165.13.14:8085/ExamResultService/services/ExamResultInput</value>
            </setting>
            <setting name="PATHGETHISZGQ_sh7yweb2_healthService" serializeAs="String">
                <value>http://155.165.13.14:8085/sevenHospitalService/services/healthService.healthServiceHttpSoap11Endpoint/</value>
            </setting>
        </PATHGETHISZGQ.Properties.Settings>
        <LGHISJK.Properties.Settings>
            <setting name="PATHGETHIS_localhost_Service" serializeAs="String">
                <value>http://localhost:4319/WebSite1/Service.asmx</value>
            </setting>
            <setting name="PATHGETHIS_webaaa_Service" serializeAs="String">
                <value>http://localhost:4319/WebSite1/Service.asmx</value>
            </setting>
        </LGHISJK.Properties.Settings>
    </applicationSettings>
</configuration>