<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PathHISZGQJK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PathHISZGQJK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PathHISZGQJK.Properties.Settings>
            <setting name="PathHISZGQJK_Webstzxyy_clsWcfInterface" serializeAs="String">
                <value>http://ddl360g502:9000/Wcf.Ehr.Interface/clsWcfInterface.svc</value>
            </setting>
            <setting name="PathHISZGQJK_lzfbws_FuJianJieKouForBCao" serializeAs="String">
                <value>http://192.168.1.110:9997/crds3/webservice/fujianforbcao.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_whtjweb_PathologySysService" serializeAs="String">
                <value>http://192.168.12.68:58080/csp/tongji/Tongji.COMM.SoapService.PathologySysService.cls</value>
            </setting>
            <setting name="PathHISZGQJK_WebCAwhtj_HealthWebService" serializeAs="String">
                <value>http://192.168.12.82:8080/HealthWebservice.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_WebXYCX_WSGeneral" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/WebApp.WSGeneral.cls</value>
            </setting>
            <setting name="PathHISZGQJK_WebXYUP_ExamFillerWS" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/BS.WS.ExamFillerWS.cls</value>
            </setting>
            <setting name="PathHISZGQJK_whtjweb_sqd_Upload_HtemrBaseInfoService"
                serializeAs="String">
                <value>http://192.168.12.58:9080/TJYYWebS/services/Upload_HtemrBaseInfo</value>
            </setting>
            <setting name="PathHISZGQJK_nbblrmyyWebReference_PisServiceLJ" serializeAs="String">
                <value>http://10.48.45.107/ktpis/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_SZSZYY_Service" serializeAs="String">
                <value>http://10.0.100.53:8080/Service.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_xmzyjcptWebservices_WSPacs" serializeAs="String">
                <value>http://192.168.90.241/ZyhipWebService/WebServices/WSPacs.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_nbyzrmyyWeb_PisServiceLJ" serializeAs="String">
                <value>http://192.168.100.64:8082/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_whxhyyWeb_WebRisService" serializeAs="String">
                <value>http://192.168.60.39:57772/csp/i-risservice/DHC.RIS.BS.WebRisService.cls</value>
            </setting>
            <setting name="PathHISZGQJK_nbyzd2yyWEB_PisServiceLJ" serializeAs="String">
                <value>http://192.168.52.100:8081/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_cszxyyWeb_NYwclService" serializeAs="String">
                <value>http://192.168.3.15:8080/Services/NYwclService</value>
            </setting>
            <setting name="PathHISZGQJK_cszxyyWeb_NYwclService" serializeAs="String">
                <value>http://192.168.3.15:8080/Services/NYwclService</value>
            </setting>
            <setting name="PathHISZGQJK_xmzyjcptWebservices_WSPacs" serializeAs="String">
                <value>http://192.168.90.241/ZyhipWebService/WebServices/WSPacs.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_lzfbws_FuJianJieKouForBCao" serializeAs="String">
                <value>http://192.168.1.110:9997/crds3/webservice/fujianforbcao.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_nbblrmyyWebReference_PisServiceLJ"
                serializeAs="String">
                <value>http://10.48.45.107/ktpis/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_nbyzd2yyWEB_PisServiceLJ" serializeAs="String">
                <value>http://192.168.52.100:8081/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_SZSZYY_Service" serializeAs="String">
                <value>http://10.0.100.53:8080/Service.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_WebCAwhtj_HealthWebService" serializeAs="String">
                <value>http://192.168.12.82:8080/HealthWebservice.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_Webstzxyy_clsWcfInterface" serializeAs="String">
                <value>http://ddl360g502:9000/Wcf.Ehr.Interface/clsWcfInterface.svc</value>
            </setting>
            <setting name="PathHISZGQJK_WebXYCX_WSGeneral" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/WebApp.WSGeneral.cls</value>
            </setting>
            <setting name="PathHISZGQJK_WebXYUP_ExamFillerWS" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/BS.WS.ExamFillerWS.cls</value>
            </setting>
            <setting name="PathHISZGQJK_whtjweb_PathologySysService" serializeAs="String">
                <value>http://192.168.12.68:58080/csp/tongji/Tongji.COMM.SoapService.PathologySysService.cls</value>
            </setting>
            <setting name="PathHISZGQJK_whtjweb_sqd_Upload_HtemrBaseInfoService"
                serializeAs="String">
                <value>http://192.168.12.58:9080/TJYYWebS/services/Upload_HtemrBaseInfo</value>
            </setting>
            <setting name="PathHISZGQJK_whxhyyWeb_WebRisService" serializeAs="String">
                <value>http://192.168.60.39:57772/csp/i-risservice/DHC.RIS.BS.WebRisService.cls</value>
            </setting>
        </PathHISZGQJK.Properties.Settings>
        <PathHISZGQJK.Properties.Settings>
            <setting name="PathHISZGQJK_Webstzxyy_clsWcfInterface" serializeAs="String">
                <value>http://ddl360g502:9000/Wcf.Ehr.Interface/clsWcfInterface.svc</value>
            </setting>
            <setting name="PathHISZGQJK_lzfbws_FuJianJieKouForBCao" serializeAs="String">
                <value>http://192.168.1.110:9997/crds3/webservice/fujianforbcao.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_whtjweb_PathologySysService" serializeAs="String">
                <value>http://192.168.12.68:58080/csp/tongji/Tongji.COMM.SoapService.PathologySysService.cls</value>
            </setting>
            <setting name="PathHISZGQJK_WebCAwhtj_HealthWebService" serializeAs="String">
                <value>http://192.168.12.82:8080/HealthWebservice.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_WebXYCX_WSGeneral" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/WebApp.WSGeneral.cls</value>
            </setting>
            <setting name="PathHISZGQJK_WebXYUP_ExamFillerWS" serializeAs="String">
                <value>http://132.147.254.44:57772/csp/supcon/BS.WS.ExamFillerWS.cls</value>
            </setting>
            <setting name="PathHISZGQJK_whtjweb_sqd_Upload_HtemrBaseInfoService"
                serializeAs="String">
                <value>http://192.168.12.58:9080/TJYYWebS/services/Upload_HtemrBaseInfo</value>
            </setting>
            <setting name="PathHISZGQJK_nbblrmyyWebReference_PisServiceLJ" serializeAs="String">
                <value>http://10.48.45.107/ktpis/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_SZSZYY_Service" serializeAs="String">
                <value>http://10.0.100.53:8080/Service.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_xmzyjcptWebservices_WSPacs" serializeAs="String">
                <value>http://192.168.90.241/ZyhipWebService/WebServices/WSPacs.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_nbyzrmyyWeb_PisServiceLJ" serializeAs="String">
                <value>http://192.168.100.64:8082/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_whxhyyWeb_WebRisService" serializeAs="String">
                <value>http://192.168.60.39:57772/csp/i-risservice/DHC.RIS.BS.WebRisService.cls</value>
            </setting>
            <setting name="PathHISZGQJK_nbyzd2yyWEB_PisServiceLJ" serializeAs="String">
                <value>http://192.168.52.100:8081/PisServiceLJ.asmx</value>
            </setting>
            <setting name="PathHISZGQJK_cszxyyWeb_NYwclService" serializeAs="String">
                <value>http://192.168.3.15:8080/Services/NYwclService</value>
            </setting>
        </PathHISZGQJK.Properties.Settings>
    </applicationSettings>
</configuration>