<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pdfbgLocalPath" value="d:\temp"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SequencingServiceSoap" maxBufferSize="2147483647"
                         maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:27863/SequencingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SequencingServiceSoap"
                contract="ServiceReference1.SequencingServiceSoap" name="SequencingServiceSoap"  />
        </client>
    </system.serviceModel>
</configuration>